/* CONFIGURACOES GERAIS TEXTO*/

#title, .subtitle, .posttitle, .posttext, .topicpost {
    color: darkslategray;
    font-family: Verdana;
}

/*CONFIGURACOES GERAIS IMAGENS */

img {
    border-radius: 8px;
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* CONFIGURACOES ESPECIFICAS*/

body {
    background: #FFF;
}


/* CONFIGURACOES ESPECIFICAS*/

.posttext {
    background: lightgray;
    padding: 20px;
}

/*TESTE COM OVERLAY*/

.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 30px;
    font: large;
    font-family: Verdana;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .container:hover .overlayducati, .container:hover .overlaykawa {
    bottom: 0;
    height: 100%;
  }

  .overlaykawa, .overlayducati {
    position: absolute;
    bottom: 100%;
    left: 25%;
    right: 0;
    opacity: 0.6;
    overflow: hidden;
    width: 50%;
    height: 0;
    transition: .5s ease;
    border-radius: 8px;
  }

  .overlayducati {
    background-color: #5f0000;
  }
  .overlaykawa {
    background-color: #32cd32;
  }
  
  