/* CONFIGURACOES GERAIS TEXTO*/

#title, .subtitle, .posttitle, .posttext, .topicpost, .footertext {
    color: rgb(15, 20, 20);
    font-family: Verdana;
}

#title {
  font-size: 80px;
  margin-bottom: 0;
  margin-top: 20px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 30px;
}

.footertext {
  text-align: center;
}

.posttext {
  text-align: justify;
  border-radius: 10px;
  border-color: darkslategray;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 30px;

}

.posttitle {
  text-align: center;
  text-transform: uppercase;
}

/* CONFIGURACOES DO CORPO DA PAGINA*/

body {
  background: #FFF;
  max-width: 1000px;
  margin: auto;
}

/*CONFIGURACOES GERAIS IMAGENS */

img {
    border-radius: 8px;
    display: block;
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.autorimg{
  border-radius: 60%;
  border: thin solid black;
  width: 8%;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}




/* CONFIGURACOES ESPECIFICAS*/

.posttext {
    background: lightgray;
    padding: 20px;
}



/*TESTE COM OVERLAY*/

  .container {
    position: relative;
    float: left;
    width: 33.333%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 30px;
    font: large;
    font-family: Verdana;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  .container:hover .overlayducati, .container:hover .overlaykawa, .container:hover .overlaysuzu {
    bottom: 0;
    height: 100%;
  }

  .overlaykawa, .overlayducati, .overlaysuzu {
    position: absolute;
    bottom: 100%;
    left: 12.5%;
    right: 0;
    opacity: 0.6;
    overflow: hidden;
    width: 75%;
    height: 0;
    transition: .5s ease;
    border-radius: 8px;
  }

  .overlayducati {
    background-color: #5f0000;
  }
  .overlaykawa {
    background-color: #32cd32;
  }
  .overlaysuzu {
    background-color: #001441;
  }
  
  